input{
    height: 3rem;
    width: 16rem;
    align-self: center;
    border-color: black;
    
}

textarea{
    height: 3rem;
    width: 16rem;
    align-self: center;
    border-color: black;
}

.container2 {
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
    margin-top:2rem;
    text-shadow: 1px 1px 2px black;

}

.flex{    
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 0.2rem;
}

.flex1{    
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 0.2rem;
    margin-top: 2rem;
}

.checkbox1{
    height: 2rem;
    width: 40rem;
}
.checkbox2{
    height: 10rem;
    width: 40rem;
}

.container1 {
    align-self: center;
        background-color:lightslategray;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 20px;
        text-align: left;        
      
    }

    .container0 {
        color: white;
        height: 55rem;
            }



    


        .button2 {
            width: 10rem;
            align-self: center;
  border-radius: 3rem;
            font-size:0.7rem;
height:3rem;
margin-top: 2rem;
        
        }
        
        



  

        .link {
            align-self: center;
            text-shadow: none;
            color: white;
            text-decoration: none;
            margin-bottom: 0rem;
            margin-top: 5rem;
            color: black;
        }

        .warning{
            align-self: center;
            margin-top: 15rem;
        }


        .header{
            display: flex;
            justify-content: center;
        }
        .button1 {
            width: 10rem;
        align-self: left;
        border-radius: 3rem;
            font-size:0.7rem;
height:3rem;
margin-top: 5rem;


        
        }

        @media only screen and (min-width: 320px) and (max-width:426px) {
    
            .title{
            font-size: 3rem;
            text-shadow: 1px 1px 2px black;
            text-align: center;
        }
        
        
        .container1 {
            align-self: center;
                background-color:lightslategray;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                font-size: 15px;
                text-align: left;
                
              
            }
        
        
            .container0 {
                color: white;
                margin-top:5.5rem;
                height: 43rem;
                    }
                    .checkbox1{
                        height: 3rem;
    width: 16rem;
                    }
                    .checkbox2{
                        height: 5rem;
    width: 16rem;
                    }


                    .container2 {
                        background-color: lightslategray;
                        display: flex;
                        flex-direction: column;
                        gap:1rem;
                        margin-top:0rem;
                        text-shadow: 1px 1px 2px black;
                        align-items: center;
                    
                    }

                    .warning{
                        align-self: center;
                        margin-top: 5rem;
                        margin-bottom: 1rem;
                        width: 16rem;
                        text-align: center;
                    }

                    .button1 {
                        width: 10rem;
                    align-self: left;
                    border-radius: 3rem;
                        font-size:0.7rem;
            height:3rem;
            margin-top: 3rem;
            
            
                    
                    }


                    
        .button2 {
            width: 10rem;
            align-self: center;
  border-radius: 3rem;
            font-size:0.7rem;
height:3rem;
margin-top: 1rem;
        
        }
        .selectmain{
            margin-right: 6rem;
        }

                }