.fleximage{
    display: flex;
    flex-direction: row;
    align-items: center;
}

img{
    margin-left: 1rem;
}

a{
    height: 40px;
  }

.h_line {
  
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));

}


.h_line1 {
    margin-top: 4rem;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));

}

.h_line2{
    margin-top: 5rem;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));

}


.header{
    display: flex;
    justify-content: center;
}
.button1 {
    width: 11rem;
align-self: left;
border-radius: 3rem;
border: 1.5px solid #302518;
    font-size:0.7rem;
height:3rem;
margin-top: 5rem;
    outline: none;
    cursor: pointer;
    
    padding: 0.9rem 2rem;
    
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    overflow: hidden;
    background: #302518;
    color: white;
    font-size: 1rem;
   }
   
   .button1 span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   .button1:hover span {
    color: white;
    font-weight: bolder;
   }
   
   .button1::before,
   .button1::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .button1::before {
    content: "";
    background: white;
    font-weight: bolder;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .button1:hover::before {
    transform: translate3d(100%, 0, 0);
   }
.link {
    align-self: center;
    text-shadow: none;
    color: white;
    text-decoration: none;
    margin-bottom: 0rem;
    margin-top: 5rem;
    color: black;
}


.mainc{

    background: url("../../assets/images/js.jpg") no-repeat;
    background-size: 100% 200%;

    
    
    
}

.mainc1{
    margin-top: 0rem;
    background: url("../../assets/images/react.jpg") no-repeat;
    background-size: 100% 200%;
    
    
}

.container1{

    height: 55rem;
}

.secc{

    padding: 50px 50px 0px 50px;
    text-align: left;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 5rem;
    color: white;
    text-shadow: 1px 1px 2px black;
    
    
}


.tcc{

    padding: 25px 50px 50px 50px;
    text-align: justify;
}

.link1 {
    align-self: center;
    text-shadow: none;
    text-decoration: none;
    margin-bottom: 0rem;
    margin-top: 5rem;
    font-weight: 800;
    text-shadow: 1px 1px 2px black;
    color: white;
    border-radius: 20px;
   width: 50px;
    
}

.test{
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
    font-size:2rem;
    
}

.title{
    font-size: 4rem;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin: 5rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    color: white;
}

.warning{
    margin-top: 2rem;
    margin-bottom: 0rem;
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
}


.image1{
    background-image: url("../../assets/images/javascript-1.svg") no-repeat;
    background-size: 100% 100%;
}

.image2{

    background-image: url("../../assets/images/React-icon.svg.png") no-repeat;
    background-size: 100% 100%;
}

@media only screen and (min-width: 320px) and (max-width:360px) {
    
    .title{
        font-size: 2.5rem;
        text-shadow: 1px 1px 2px black;
        text-align: center;
    }
    .warning{
        margin-top: 1rem;
        margin-bottom: 0rem;
        text-align: center;
        font-size: 15px;
        /* width: 16px; */
        margin-left: 60px;
        text-align: center;
        margin-right: 60px;
    }

    .mainc{
        margin-top: 0rem;

        
        
        
    }

    .secc{

        padding: 25px 50px 0px 50px;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 900;
        margin-bottom: 2rem;
        text-shadow: 1px 1px 2px black;
    }
    
    
    .tcc{
    
        padding: 0px 0px 0px 0px;
        text-align: justify;
        font-size: 1.2rem;
        font-weight: 800;
    }

    .container1{

        height: 34rem;
    }
    .test{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;
        font-size:1.5rem;
    }
    .mainc1{
        margin-top: 0rem;
        
        
        
    }
    .button1 {
           
        font-size:0.8rem;
        width: 9rem;
        margin-top: 3rem;
}

.button2 {

    font-size:0.8rem;
width: 9rem;


}

.button3 {

    font-size:0.8rem;
width: 9rem;


}


.fleximage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
img{
    height: 25px;
    width: 30px;
    margin-left: 0.5rem;
}

a{
    height: 20px;
  }
  .h_line2{
    margin-top: 2rem;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));

}

}




@media only screen and (min-width: 360px) and (max-width:426px) {
    
    .title{
        font-size: 2.5rem;
        text-shadow: 1px 1px 2px black;
        text-align: center;
    }
    .warning{
        margin-top: 1rem;
        margin-bottom: 0rem;
        text-align: center;
        font-size: 15px;
    }

    .mainc{
        margin-top: 0rem;

        
        
        
    }

    .secc{

        padding: 25px 50px 0px 50px;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 900;
        margin-bottom: 2rem;
        text-shadow: 1px 1px 2px black;
    }
    
    
    .tcc{
    
        padding: 0px 0px 0px 0px;
        text-align: justify;
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 800;
    }

    .container1{

        height: 36rem;
    }
    .test{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;
        font-size:1.5rem;
    }
    .mainc1{
        margin-top: 0rem;

        
        
        
    }

    .button1 {
           
        font-size:0.8rem;
        width: 9rem;
        margin-top: 3rem;
}

.button2 {

    font-size:0.8rem;
width: 9rem;


}

.button3 {

    font-size:0.8rem;
width: 9rem;


}

.h_line2{
    margin-top: 2rem;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));

}

.fleximage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
img{
    height: 25px;
    width: 30px;
    margin-left: 0.5rem;
}

a{
    height: 22px;
  }
}