.button5{

    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
    background-color: transparent;
    border: transparent;
    cursor:pointer;
    width: 15rem;
  
    
}


.list{
    list-style-type: none;
    display: flex;
    font-size: 20px;
    padding-left: 0rem;
    justify-content: space-evenly;
    padding-top: 2rem;
    margin-bottom: 2.5rem;
}

.list1{
    font-size: 20px;
}

.button {
    width: 15rem;
    align-self: center;
    border-radius: 3rem;
    font-size:0.2rem;
    background-color: transparent;
    border-color: transparent;

}

.h_line {
  
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));

}


.link {
    align-self: center;
    text-shadow: none;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
}


@media only screen and (min-width: 320px) and (max-width:420px) {

    .link {
        align-self: center;
        text-shadow: none;
        color: white;
        text-decoration: none;
        text-shadow: 1px 1px 2px black;
        font-size: 12px;
    }

    .button {
        width: 5rem;
        
        align-self: center;
        border-radius: 3rem;
        font-size:0.2rem;
        background-color: transparent;
        border-color: transparent;
        padding-top: 1rem;
    

    }

    .list{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin-left: 5px;
        margin-right: 5px;
        padding-top: 0rem;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .button5{

        color: white;
        text-decoration: none;
        text-shadow: 1px 1px 2px black;
        font-size: 12px;
        background-color: transparent;
        border: transparent;
        cursor:pointer;
        padding-top: 1rem;
        width: 5rem;
        
    }
}



@media only screen and (min-width: 420px) and (max-width:426px) {
    .button {
        width: 5rem;
        align-self: center;
        border-radius: 3rem;
        font-size:0.2rem;
        background-color: transparent;
        border-color: transparent;
    

    }

    .link {
        align-self: center;
        text-shadow: none;
        color: white;
        text-decoration: none;
        text-shadow: 1px 1px 2px black;
        font-size: 12px;
    }

    .list{
        list-style-type: none;
        display: flex;
        align-items: center;
            margin-left: 160px;
    margin-right: 150px;
        padding-left: 0rem;
        justify-content: space-evenly;
        padding-top: 0rem;
        margin-bottom: 1rem;
    }


    .button5{

        color: white;
        text-decoration: none;
        text-shadow: 1px 1px 2px black;
        font-size: 12px;
        background-color: transparent;
        border: transparent;
        cursor:pointer;
        width: 5rem;
  
        
    }

}